<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <!-- PG크로스브라우징필수내용 -->
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <!-- // PG크로스브라우징필수내용 -->

        <!-- lib -->
        <script src="/_nam/lib/jquery/jquery-3.7.1.min.js"></script>
        <script src="/_nam/lib/gsap/gsap.min.js"></script>
        <script src="/_nam/lib/barba/barba.js"></script>

        <!-- js -->
        <!--@jsTop(/_nam/js/core.js)-->
        <!--@jsTop(/_nam/js/layout.js)-->
        <!--@jsTop(/_nam/js/effect.js)-->
        <!--@js(/_nam/js/work.js)-->

        <!-- css -->
        <!--@css(/_nam/css/reset.css)-->
        <!--@css(/_nam/css/font.css)-->
        <!--@css(/_nam/css/root.css)-->
        <!--@css(/_nam/css/common.css)-->
        <!--@css(/_nam/css/layout.css)-->
        <!--@css(/_nam/css/effect.css)-->
        <!--@css(/_nam/css/main.css)-->
        <!--@css(/_nam/css/work.css)-->
        <!--@css(/_nam/css/about.css)-->
        <!--@css(/_nam/css/contact.css)-->

        <script>
            window.$ = jQuery.noConflict(true);
        </script>
        <title>기본 레이아웃</title>
    </head>
    <body data-barba="wrapper">
        <!--@import(/_nam/module/header.html)-->

        <main id="container" data-barba="container" data-barba-namespace="home">
            <!--@contents-->
        </main>

        <!--@import(/_nam/module/effect.html)-->
        <!--@import(/_nam/module/footer.html)-->
    </body>
</html>
