/* 
    header
*/

#header {position: fixed;top: 25rem;left: 50%;transform: translateX(-50%);z-index: 100;}
#navigation {width: max-content;border-radius: 8rem;transition: .4s;}
#navigation > ul {display: flex;align-items: center;justify-content: center;gap: 5rem;padding: 10rem 10rem;}
#navigation > ul > li {position: relative;text-align: center;}
#navigation > ul > li > a {display: flex;align-items: center;justify-content: center;width: 45rem;height: 45rem;border-radius: 5rem;transition: .4s;}
#navigation > ul > li.active > a {background: var(--color-primary);}
#navigation > ul > li > a .icon {}
#navigation > ul > li > a .icon > svg {width: 27rem; height: 27rem;vertical-align: middle;}
#navigation > ul > li > a .icon > svg > path {fill: #cbcbcb;transition: .4s;}
#navigation > ul > li.active > a .icon > svg > path {fill: #fff;}
#navigation > ul > li > p {position: absolute;top: calc(100% + 15rem); left: 50%;transform: translateX(-50%);;font-size: 12rem;font-family: var(--font-point);opacity: 0;visibility: hidden;transition: .4s;}


@media all and (min-width:1024px) {
    #navigation:hover {background: rgba(255,255,255,0.5);backdrop-filter: blur(5rem);-webkit-backdrop-filter: blur(5rem);}
    #navigation > ul > li:hover > a {background: var(--color-primary);}
    #navigation > ul > li:hover > a .icon > svg > path {fill: #fff;}
    #navigation > ul > li:hover > p {opacity: 1;visibility: visible;}
}
@media all and (max-width:660px) {
    #navigation {background: rgba(255,255,255,0.2);border-radius: 5rem;backdrop-filter: blur(5rem);-webkit-backdrop-filter: blur(5rem);}
    #navigation > ul {padding: 7rem;}
    #navigation > ul > li > a {width: 35rem;height: 35rem;border-radius: 3rem;}
    #navigation > ul > li > a .icon > svg {width: 20rem;height: 20rem;}
    #navigation > ul > li > p {display: none;}
}



/* 
    footer
*/

#footer {text-align: center;font-size: 12rem;font-family: var(--font-point);padding: 100rem 0;}

@media all and (max-width:660px) {
    #footer {font-size: 10rem;padding: 60rem 0;}
}

/* container */
#container {padding-top: 190rem;min-height: calc(100vh - 130rem);}
.area-wrap {width: 100%;max-width: var(--area-max-width);padding: 0 24rem;margin: 0 auto;}
.pc-only {display: block;}
.mobile-only {display: none;}
@media all and (max-width:660px) {
    #container {padding-top: 110rem;} 
    .area-wrap {padding: 0 16rem;}
    .pc-only {display: none;}
    .mobile-only {display: block;}
}